$primary: #ed6860;
$secondary: #1e1e1e;
$color-white: #FFF;
$color-black: #000;
$color-purple: #532d79;
$color-purple-transparant: #532d7985;

$glow:0 0 10px rgba(255, 255, 105, 0.825);
$shadow:0px 0px 5px #00000080;